@page "/about"
@using GameTools.BlazorClient.Middleware

<div class="task-host">
	<header>
		<heading>About The DM's Familiar</heading>
	</header>
	<main class="editorial">
		<p>I'm a Dungeon Master, just like you.</p>
		<p>I really like it when my players get into the roleplay part of a game session, and then I get into trouble when they walk into a blacksmith's shop or a tavern and want to strike up a conversation with the people they meet there.  I used to end up with a LOT of NPCs named Bob and Jill.</p>
		<p>So... I decided to create a random NPC generator.  It worked pretty ok, but I wanted to see if I could make it a little better, so I added a little bit of AI generation to what the dice came up with.</p>
		<h3>I wanna comment about AI for a second...</h3>
		<p>There's a LOT of heartburn our there about using AI in this space, and some of that comes from misinformation, but some of the concerns I've seen are perfectly valid.</p>
		<p>I'm not here to automate EVERYTHING about running your D&D games.  I just want to try and build some tools that smooth out the rough spots that take up way too much of my planning time, or catch me flat-footed in the middle of a gaming session.   I intend to use AI more like an assistant than a primary creator here.  I use it to take the basic attributes you specify and add a little bit of human-sounding language to the descriptions.</p>
		<p>I'll never feed YOUR creations into a training model, I don't mess around with that kind of AI development.  Anything original you put in here is going to stay yours.</p>
		<p>So use it when your players want to know the barkeep's life story, or when you're stuck and feeling some writer's block.</p>
		<hr width="50%"/>
		<p>So... that's enough yapping from me.  I've got stuff to build.  I hope you enjoy what I've put together so far, and I can't wait to share the new things I've got in mind!</p>
		<p class="signature">-thatDeveloperDad</p>
	</main>
</div>

