@page "/"

<PageTitle>Home</PageTitle>

<header>
	<h1>Hello, There!</h1>
</header>
<main>
	<p style="height:900px;text-align:center;">"General Kenobi, I've been expecting you!'"</p>
</main>
<footer>Homepage footer</footer>