@page "/roadmap"
@using GameTools.BlazorClient.Middleware
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Policy = AuthZConstants.pol_PaidUsers)]

<div class="task-host">
<header>
	<heading>Feature Roadmap for The DM's Familiar</heading>
</header>
<main>
	<p>There's a lot that I WANT to do, but I'm only one person!</p>
	<h3>Near-term improvements:</h3>
	<ul>
		<li>
			<b>Improvements to NPC Management</b>
			<ul>
				<li>Filter your list of created townsfolk</li>
				<li>Edit the descriptions either before or after AI generation. (If you add text before generating the AI, I'll make sure it doesn't overwrite your stuff.</li>
				<li>Add a delete button to NPCs you've created and no longer want</li>
				<li>Export or Save your NPCs as either text or image files</li>
				<li>Add a Hometown & Location field to the NPC Options, and make that searchable.</li>
				<li>Add Game Stats to the generated NPCs because your players just LOVE to uninstall birthdays.</li>
			</ul>
		</li>
		<li><b>Incorporate feedback from you!</b></li>
	</ul>
	<h3>After that...</h3>
		<li>
			<b>New Features, I'm not sure what order to add them</b>
			<ul>
				<li>More generators:  Taverns, Shops, Points of Interest</li>
				<li>Even MORE generators:  Towns & Settlements</li>
				<li>Ruleset customization:  Your world doesn't have gnomes? No Problem!  Uncheck the box and punt those little weirdos.</li>
				<li>BASIC Player Character database.  (Names, HP, AC, Passive Perception & Insight... nothing elaborate)</li>
				<li>Encounter Builder / Initiative helper</li>
				<li>Basic creature catalog, incorporating the critters available in the 5e SRD</li>
			</ul>
		</li>
	<h3>In the FUTURE... when we all have flying cars...</h3>
	<p>These are things that I fantasize about, like if this takes off, and I can turn it into my full-time job and don't have to worry about working for somebody else...</p>
	<ul>
		<li>
			<b>Remember, this is FANTASY LAND!!! I may never get to these.</b>
			<ul>
				<li>Mapping</li>
				<li>Expanded World Building assistance</li>
				<li>Campaign Helper (where you'd create a copy of the people and places that you create, and manage them separately from the "source" materials.)</li>
				<li>Support for other Gaming Systems or Genres</li>
			</ul>
		</li>
	</ul>
</main>
</div>