@import "baseVars.css";

:root{
    /* 
        Here's where we'll define the different color roles, and derive those from 
        the base colors defined in the baseVars file.
    */
    
    --layer-1: rgba(from var(--color-light-yellow) r g b / var(--transparent));
    --layer-lighten: rgba(from var(--color-light-yellow) r g b /  .25);
    --layer-lighten-more: rgba(from var(--color-light-yellow) r g b /  .5);

    --layer-darken: rgba(from var(--color-accent-dark) r g b / .1);
    --outline-color:  rgba(from var(--color-accent-dark) r g b / .25);
}

body{
    color: var(--color-accent-dark);
}


hr{
    border-color: var(--outline-color);
}

.feature-host {
    background: 
        linear-gradient(180deg, rgba(147, 12, 16, 1) 0%, 
                                rgba(147, 12, 16, .25) 15%, 
                                rgba(255, 254, 189, 0) 100%),
        url(images/bg_grid.svg) repeat;
    color: var(--color-black);
}

.feature-host header{
    background-color: var(--layer-lighten)
}

.feature-host main{
    background-color: var(--layer-lighten)
}

.task-host{
    background-color: var(--layer-lighten);
    backdrop-filter:blur(2px);
    color: var(--color-black);
}

.task-host header{
    background-color: var(--layer-darken);
    border-bottom-color: var(--outline-color);
}

.task-host footer{
    background-color: var(--layer-darken);
}

button {
    background-color: var(--color-accent-red);
    color: var(--color-light-yellow);
    border: 1px solid var(--color-light-yellow);
}

@media only screen and (min-width: 600px) {
    .feature-host {
        background: 
        linear-gradient(90deg, rgba(147, 12, 16, 1) 0%, 
                                rgba(147, 12, 16, .1) 15%, 
                                rgba(255, 254, 189, 0) 100%),
        url(images/bg_grid.svg) repeat;
    }

    body > footer {
        background-color: var(--color-accent-dark);
    }
}