@import "baseVars.css";
@import "colors.css";
@import "typography.css";
@import "icons.css";
@import "animations.css";

body{
    padding:0;
    margin:0;
    height: var(--app-height);
    width: var(--app-width);
    display:flex;
    flex-direction:column;
}

body > footer {
    display:none;
}

.app-host{
    display:flex;
    flex-direction:column;
    flex:1;
    overflow:hidden;
    height:100%;
    width:100%;
}

.app-host > header {
    margin:0;
    padding:.75rem;
    display: flex;
    flex-direction:column;
    justify-items: center;
}

.app-host > main {
    flex:1;
    overflow: auto;
}

.feature-host {
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    height:100%;
    padding: .5rem;
    position:relative;
}

.feature-host  header{
    flex: 0 0 auto;
    margin:0;
    position:sticky;
    border-bottom: solid 1px var(--outline-color);

    border-radius: .5rem;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    
    padding: 0 .5rem;
}

.feature-host  main{
    flex:1;
    overflow: hidden;

    border-radius: .5rem;

    padding: .25rem .5rem;
}

main .centered-content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.feature-host  footer {
    flex:0 0 auto;
    
    margin-top:auto;
    border-top: solid 1px var(--outline-color);
}

.task-host {
    display:flex;
    flex-direction:column;
    height:100%;
    overflow:hidden;
    position:relative;

    padding: .5rem .5rem;
    border: 2px solid var(--outline-color);
    border-radius: .75rem;
}

.task-host > header {
    flex:0 0 auto;
    margin:0;
    padding:0.5rem;
    border-top-left-radius:.5rem;
    border-top-right-radius:.5rem;
    border:solid 1px var(--outline-color);
}

.task-host > main{
    flex:1;
    overflow:auto;

    padding:0.25rem;
    height:100%;
    border-left:solid 1px var(--outline-color);
    border-right:solid 1px var(--outline-color);
}

.task-host > footer{
    flex: 0 0 auto;
    margin-top:auto;
    border-top:solid 1px black;
    padding: .5rem 1rem;
    margin-bottom: 0.5rem;
}

.task-host > footer nav {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:0.25rem;
}

.task-host > footer nav button {
    flex: 1 0 auto;
}

.shown {
}

.hidden {
    display:none;
}

.form-group {
    display:flex;
    flex-direction: column;

    font-size: .9rem;
}

.form-label {
    
    font-weight: var(--font-weight-bold);
}

.form-select {
    margin:.25rem;
    border-radius: .25rem;
    /*font-size: .9rem;*/
    padding: .25rem;
}

.form-control {
    align-self: flex-start;
}

radio-button-list {
    display:flex;
    flex-direction: row;
    /*font-size:.9rem;*/
}

button {
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

@media only screen and (min-width: 600px) {
        body > footer {
            display:unset;
            margin-top:auto;
        }

        .app-host{
            flex-direction:row;
        }
    }