@inherits LayoutComponentBase

<div class="app-host">
    <header class="sidebar">
        <NavMenu />
    </header>

    <main class="feature-host">
        @Body
    </main>
</div>
<footer></footer>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
