<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">The DM's Familiar</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column-split">
        <div class="nav-section nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <!-- Policy Protected Menu Items -->
            <AuthorizeView>
                <NavLink class="nav-link" href="create-npc">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> NPCs
                </NavLink>
            </AuthorizeView>
            <!-- End Policy-protected menu items -->
        </div>
        <!-- End Main Menu -->

        <div class="nav-section nav-item px-3">
        <!-- secondary menu should render at end of parent.-->
            <AuthorizeView>
                <Authorized>
                    <span class="nav-section-label">Hello @context.User.Identity?.Name!<br /></span>
                    <NavLink class="nav-link" href="roadmap">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Roadmap
                    </NavLink>

                    <NavLink class="nav-link" href="/MicrosoftIdentity/Account/SignOut">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sign out
                    </NavLink>
                    @* <a href="MicrosoftIdentity/Account/SignOut">Log out</a> *@
                </Authorized>
                <NotAuthorized>
                    <NavLink class="nav-link" href="/MicrosoftIdentity/Account/SignIn">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sign in
                    </NavLink>
                    @* <a href="/MicrosoftIdentity/Account/SignIn">Sign in</a> *@
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <!-- end Secondary menu -->
    </nav>
</div>
<!-- My Pillow -->
<!-- a little dirt -->

